.job-list-container {
  display: flex;              /* Flexbox for horizontal alignment */
  gap: 10px;                  /* Adds 10px of space between the job-list-item elements */
}

.job-list-item {
  width: 25%;                 /* Set width of each job list */
  box-sizing: border-box;      /* Include padding and borders in the width */
}

.job-details-panel {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 8px;
    max-height: 250px;      /* Limit max height to a specific value if needed */
    overflow-y: auto;       /* Enable scrolling if content overflows */
  }
  